
.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-container{
    background-color: white;
    position: relative;
    padding: 20px;
}

.re-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.room-list {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.reserve-btn {
  border: none;
  padding: 10px 20px;
  background-color: #1aab73;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}