.nav {
    height: 40px;
    background-color: #4f924f;
    display: flex;
    justify-content: center;
    border-right: 0.4px solid #e9e5e5;

    .nav-container {
        width: 100%;
        max-width: 1024px;
        color: white;
        display: flex;
        align-items: center;
        justify-content:flex-end;
        padding: 5px;

        .nav-items {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .nav-icons{
                cursor: pointer;
            }
        }
        .nav-link{
            text-decoration: none;
            color: white;;
        }
    }
}